

{{ define "footer"}}

    <footer class="footer navbar-fixed-bottom navbar-default">
        <div class="container">
            <p class="text-muted">Copyright Nikolabs.com 2019</p>
        </div>
    </footer>


{{ end}}